.logo-img {
  display: inline-block;
  margin-right: 5px; /* add a small margin to separate the logo from the text */
}

.logo {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #000;
  display: inline-block;
}

.orange {
  color: #f56500;
}

.purple {
  background-color: #4b4ba3;
}

.btn-navbar.active {
  background-color: #383878;
}
.blue {
  color: rgb(73, 151, 172);
}

